<html>
<head>
    <title>INDUS BRUINS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Open+Sans|Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
</head>
<body>

  <div class="background-404">
  		<div class="site-wrapper">
            <img class="img-err" src="../img/indus-brand.jpg"/>
            <h1>Whoops.</h1>
            <p>This page is currently under construction!</p>
            <p> Click <a class="link-color" href="/">here</a> to be redirected to <a class="link-color" href="/">Indus Bruins</a></p>
  		</div>
  	</div>
</body>
</html>
