{{> header}}

<div class="parallax">
    <div id="group2" class="parallax__group__page">
        <div class="parallax__layer parallax__layer--back page-cover-photo">
            <div class="page-heading">Meet the Board</div>
        </div>
    </div>
    <!-- <div class="page-cover-photo">
    <div class="page-heading">Meet the Board</div>
</div> -->
<div id="group3" class="parallax__group__page">
    <div class="parallax__layer parallax__layer--base">
        <div class="page-body">
            <div class="page-wrapper">
                <div class="page-content">
                    <div class="team-subheading">2017-2018 Board Members</div>
                    <section class="section">
                        <div class="section-container">
                            <div class="container team-container column">
                                <div class="container team-container constrained">
                                    <div class="grid align-start">
                                        <div class="col sm-12 md-8">
                                            <div class="person-card">
                                                <img class="profile-picture" src="img/tanzeela.jpg">
                                                <h4>Sanjana Nidugondi</h4>
                                                <h5>President</h5>
                                                <p>Excited ahhehehhehehahefhehaeahe fdsjafjsdka  fdjskafj sad</p>
                                            </div>
                                        </div>
                                        <div class="col sm-12 md-8">
                                            <div class="person-card">
                                                <img class="profile-picture" src="img/tanzeela.jpg">
                                                <h4>Lamia Abbas</h4>
                                                <h5>Internal Vice President</h5>
                                                <p>Excited ahhehehhehehahefhehaeahe fdsjafjsdka  fdjskafj sad</p>
                                            </div>
                                        </div>
                                        <div class="col sm-12 md-8">
                                            <div class="person-card">
                                                <img class="profile-picture" src="img/tanzeela.jpg">
                                                <h4>Henna Dialani</h4>
                                                <h5>External Vice President</h5>
                                                <p>Excited ahhehehhehehahefhehaeahe fdsjafjsdka  fdjskafj sad</p>
                                            </div>
                                        </div>
                                        <div class="col sm-12 md-8">
                                            <div class="person-card">
                                                <img class="profile-picture" src="img/tanzeela.jpg">
                                                <h4>Pardisha Tiwari</h4>
                                                <h5>Director of Cultural Affairs</h5>
                                                <p>Excited ahhehehhehehahefhehaeahe fdsjafjsdka  fdjskafj sad</p>
                                            </div>
                                        </div>
                                        <div class="col sm-12 md-8">
                                            <div class="person-card">
                                                <img class="profile-picture" src="img/tanzeela.jpg">
                                                <h4>Harman Araich</h4>
                                                <h5>Director of Cultural Affairs</h5>
                                                <p>Excited ahhehehhehehahefhehaeahe fdsjafjsdka  fdjskafj sad</p>
                                            </div>
                                        </div>
                                        <div class="col sm-12 md-8">
                                            <div class="person-card">
                                                <img class="profile-picture" src="img/tanzeela.jpg">
                                                <h4>Shayleen Singh</h4>
                                                <h5>Director of Political Affairs</h5>
                                                <p>Excited ahhehehhehehahefhehaeahe fdsjafjsdka  fdjskafj sad</p>
                                            </div>
                                        </div>
                                        <div class="col sm-12 md-8">
                                            <div class="person-card">
                                                <img class="profile-picture" src="img/tanzeela.jpg">
                                                <h4>Anandamayee Singh</h4>
                                                <h5>Director of Political Affairs</h5>
                                                <p>Alejandra is a second year Mathematics of Computation major. During her free time she enjoys playing the ukulele, watching Game of Thrones, and teaching people math.</p>
                                            </div>
                                        </div>
                                        <div class="col sm-12 md-8">
                                            <div class="person-card">
                                                <img class="profile-picture" src="img/tanzeela.jpg">
                                                <h4>Spun Jakka</h4>
                                                <h5>Internship Director</h5>
                                                <p>Excited ahhehehhehehahefhehaeahe fdsjafjsdka  fdjskafj sad</p>
                                            </div>
                                        </div>
                                        <div class="col sm-12 md-8">
                                            <div class="person-card">
                                                <img class="profile-picture" src="img/tanzeela.jpg">
                                                <h4>Priya Dahiya</h4>
                                                <h5>Internship Director</h5>
                                                <p>Excited ahhehehhehehahefhehaeahe fdsjafjsdka  fdjskafj sad</p>
                                            </div>
                                        </div>
                                        <div class="col sm-12 md-8">
                                            <div class="person-card">
                                                <img class="profile-picture" src="img/tanzeela.jpg">
                                                <h4>Marsha Noeline</h4>
                                                <h5>Directors of Community Projects</h5>
                                                <p>Second year Electrical Engineering major. Loves soccer, traveling, and food. Yearns to travel and eat more, but devastated by the cost.</p>
                                            </div>
                                        </div>
                                        <div class="col sm-12 md-8">
                                            <div class="person-card">
                                                <img class="profile-picture" src="img/tanzeela.jpg">
                                                <h4>Anjum Farook</h4>
                                                <h5>Directors of Community Projects</h5>
                                                <p>Second year Electrical Engineering major. Loves soccer, traveling, and food. Yearns to travel and eat more, but devastated by the cost.</p>
                                            </div>
                                        </div>
                                        <div class="col sm-12 md-8">
                                            <div class="person-card">
                                                <img class="profile-picture" src="img/tanzeela.jpg">
                                                <h4>Gaurav Lalsignhani</h4>
                                                <h5>Director of Special Projects</h5>
                                                <p>I like to sing while running down hills. I also code.</p>
                                            </div>
                                        </div>
                                        <div class="col sm-12 md-8">
                                            <div class="person-card">
                                                <img class="profile-picture" src="img/tanzeela.jpg">
                                                <h4>Aashita Patwari</h4>
                                                <h5>Director of Finance</h5>
                                                <p>I like to sing while running down hills. I also code.</p>
                                            </div>
                                        </div>
                                        <div class="col sm-12 md-8">
                                            <div class="person-card">
                                                <img class="profile-picture" src="img/tanzeela.jpg">
                                                <h4>Shashwat Agarwal</h4>
                                                <h5>Director of Finance</h5>
                                                <p>Excited ahhehehhehehahefhehaeahe fdsjafjsdka  fdjskafj sad</p>
                                            </div>
                                        </div>
                                        <div class="col sm-12 md-8">
                                            <div class="person-card">
                                                <img class="profile-picture" src="img/tanzeela.jpg">
                                                <h4>Appurva Goel</h4>
                                                <h5>Director of Outreach</h5>
                                                <p>Melissa is a second year Computer Science major. She loves art, karaoke, and videogames. She does not like pollution, the quarter system, and comic sans. She hopes to travel to new destinations, especially natural wonders.</p>
                                            </div>
                                        </div>
                                        <div class="col sm-12 md-8">
                                            <div class="person-card">
                                                <img class="profile-picture" src="img/tanzeela.jpg">
                                                <h4>Tanzeela Khan</h4>
                                                <h5>Director of Technology</h5>
                                                <p>Excited ahhehehhehehahefhehaeahe fdsjafjsdka  fdjskafj sad</p>
                                            </div>
                                        </div>
                                        <div class="col sm-12 md-8">
                                            <div class="person-card">
                                                <img class="profile-picture" src="img/tanzeela.jpg">
                                                <h4>Parth Ingle</h4>
                                                <h5>Director of Technology</h5>
                                                <p>Excited ahhehehhehehahefhehaeahe fdsjafjsdka  fdjskafj sad</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{{> footer}}
