{{> header}}

<div class="page-body">
    <div class="page-cover-photo gallery-photo">
        <div class="page-heading">Gallery</div>
    </div>
    <div class="page-wrapper container gallery-container">

            <div class="page-content gallery-card col sm-24 md-24">
                <div class="flickrwrap">
                    <iframe src='https://www.displaysocialmedia.com/app/embed/index.php?embed_id=5602' frameborder='0' width='100%' height='1000'></iframe>
                </div>
                <!-- <p class="gallery-album-title">2017 Spring Breakfast Social</p> -->
            </div>

            <!-- <div class="page-content gallery-card col sm-24 md-24">
                <div class="flickrwrap">
                    <iframe src="https://www.flickr.com/photos/144839492@N07/sets/72157675536214581/player"
                    frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                </div>
                <p class="gallery-album-title">2017 Hike at Runyon Canyon Social</p>
            </div> -->
    </div>
</div>
{{> footer}}
