{{> header}}
<div class="waves-full-background">
	<div class="site-wrapper">
		<div class="about-cover-heading">INDUS</div>
		<div class="about-cover-sub">Empower South Asians culturally, politically and socially.</div>
	</div>
</div>

<div class="page-body">
	<div class="page-wrapper home-container container">
		<div class="home-div">
			<div class="page-content fam-card home-learn-img col xs-24 sm-24 md-9"></div>
			<div class="page-content fam-card col sm-24 md-15" >
				<p class="card-title">An Introduction to the Indian Diaspora</p>
				<p class="fam-card-description">A core part of Indus is the Indus internship. The internship is a space where you can meet fellow South Asians of diverse backgrounds, dig deeper into your identity and history, and also grow as leaders on campus - learning skills from event planning to advocacy.</p>
			</div>
		</div>
		<div class="home-div">
			<div class="page-content fam-card col xs-24 sm-24 md-24">
				<p class="card-title">Upcoming Events</p>
				<div id="events-mount"></div>
			</div>
		</div>
	</div>
</div>

{{> footer}}
